{% extends "template.html" %}
{% block content %}
{% if count > 0 %}
{{count}} manuals found in suite {{suites[suite]}}.
{% else %}
No manuals found in suite {{suites[suite]}}.
{% endif %}

<ul>
  {% for section, mans in manpages|dictsort %}
  <li>Section {{section}}:
    <ul class="subnav">
      {% for man, href in mans %}
      <li><a href="{{href}}">{{ man }}({{section}})</a></li>
      {% endfor %}
    </ul>
  </li>
  {%endfor%}
</ul>
{% endblock %}
