<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="{{prefix|default('/')}}debian.css">
    <title>{{title|default('')}}</title>
    <meta description="{{description|default('')}}" />
  </head>
  <body>
    <!--htdig_noindex-->
    <div id="header">
      <div id="upperheader">
        <div id="upperheader">
          <div id="logo">
            <a href="{{prefix|default('/')}}" title="Debian Manpages Home"><img src="{{prefix|default('/')}}Pics/openlogo-50.png" alt="Debian" width="50" height="61"></a>
          </div> <!-- end logo -->
          <div id="searchbox">
	    <form name="search" method="get" action="{{prefix|default('/')}}search">
	      <p>
                <select id="suiteinput" name="suite">
                  {% for suite, string in suites.iteritems() %}
                  <option value="{{suite}}">{{string}}</option>
                  {% endfor %}
                </select>
	        <input id="pageinput" name="pattern" value="" size="27">
	        <input id="searchsubmit" type="submit" value="Search">
	      </p>
	    </form>
          </div>
        </div> <!-- end upperheader -->
        <div id="serverselect">
        </div> <!-- end serverselect -->
      </div> <!-- end upperheader -->
      <div id="navbar">
        <p class="hidecss"><a href="#content">Skip Quicknav</a></p>
        <ul>
          <li><a href="https://www.debian.org/intro/about">About Debian</a></li>
          <li><a href="https://www.debian.org/distrib/">Getting Debian</a></li>
          <li><a href="https://www.debian.org/support">Support</a></li>
          <li><a href="https://www.debian.org/devel/">Developers' Corner</a></li>
        </ul>
      </div> <!-- end header -->
      <!--/htdig_noindex-->
      <div id="content">
        {% block content %}
        {{content}}
        {% endblock %}
      </div>
      <!--htdig_noindex-->
      <div id="footer">
        <p id="pageinfo" class="info" lang="en" dir="ltr">{{pageinfo}}</p>

        <ul id="credits">
          <li>This site was created using <a href="https://wiki.debian.org/manpages.debian.org">Debmans</a>.</li>
          <li>Debmans was written by <a href="https://wiki.debian.org/TheAnarcat">Antoine Beaupré</a> in <a href="https://python.org/">Python</a></li>
        </ul>
      </div> <!-- end footer -->
      <!--/htdig_noindex-->
  </body>
</html>
